*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.add{
    width: 400px;
    background-color: blue;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    padding: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    line-height: 2;
    border-radius: 10px;
    top: 10px;
    input {
        font-size: 20px;
        background: none;
        outline: none;
        border: none;
        color: white;
        margin: 10px 0px;
        border-bottom: 1px solid white;
        padding: 5px;
        &::placeholder{
            color: rgba(255, 255, 255, 0.498);
        }
        text-transform: uppercase;
    }
    button {
        padding: 7px 20px;
        background-color: red;
        border: none;
        border-radius: 10px;
        color: white;
        text-transform: uppercase;
        font-weight: 800;
        &:nth-child(1) {
            background: green;
        }
    }

}
iframe{
    padding: 7px 100px;
}
#demo {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0px;
    .box {
        width: 350px;
        background: rgb(41, 41, 221);
        color: white;
        text-align: center;
        padding: 20px;
        border-radius: 10px;
        text-transform: uppercase;
        .box-in{
            background: white;
            
        }
        i{
            font-size: 200px;
        }
    }
}
